# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/
.gradle/
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/generated_plugin_registrant.java

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
/build/
**/build/
/coverage/

# Key & Env (Bảo mật)
.env
*.jks
*.keystore
*.google_services.json

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Artifacts
/android/app/debug
/android/app/profile
/android/app/release

*GeneratedPluginRegistrant*